@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root{
    --main-js-color: #ffde61;
    --text-white: #fcfcfc;
    --text-black: #222222;
    --background-black: #222222;
    --background-white: #fcfcfc;
    --js-logo-font-family: "Gravitas One";
    --main-font-family: "Roboto Mono";
}